<template>
  <div>
    <gmap-map
      :center="map.center"
      class="map"
      ref="map"
      :zoom="map.zoom"
    >
      <gmap-info-window
        :position="infoWindow.position"
      >
        {{ infoWindow.content }}
      </gmap-info-window>
      <gmap-cluster>
        <gmap-marker
          @click="onClick(marker)"
          :clickable="true"
          :key="index"
          :position="marker.position"
          v-for="(marker, index) in mapMarkers"
        />
      </gmap-cluster>
    </gmap-map>
  </div>
</template>

<script>
import Station from '~/models/Station'

export default {
  props: {
    center: {
      default: () => ({
        lat: 51.105,
        lng: 17.035
      }),
      type: Object
    },
    markers: {
      default: () => [],
      type: Array
    },
    selected: {
      type: Station
    },
    zoom: {
      default: 12,
      type: Number
    }
  },
  data () {
    return {
      infoWindow: {
        content: null,
        position: {
          lat: 0,
          lng: 0
        }
      },
      map: {
        center: this.center,
        zoom: this.zoom
      }
    }
  },
  computed: {
    mapMarkers () {
      return this.markers.map(this.mapMarker)
    }
  },
  methods: {
    mapMarker (marker) {
      return {
        ...marker,
        position: {
          lat: parseFloat(marker.latitude),
          lng: parseFloat(marker.longitude)
        }
      }
    },
    onClick (marker) {
      this.openInfoWindow(marker)
      this.$emit('click', marker.id)
    },
    openInfoWindow (marker) {
      this.infoWindow = {
        content: marker.location,
        position: {
          lat: marker.position.lat,
          lng: marker.position.lng
        }
      }
      this.map = {
        center: marker.position,
        zoom: 15
      }
    }
  },
  watch: {
    mapMarkers (markers) {
      const bounds = new google.maps.LatLngBounds()
      markers.forEach(marker => {
        bounds.extend(marker.position)
      })
      this.$refs.map.fitBounds(bounds)
    },
    selected (station) {
      const marker = this.mapMarker(station)
      this.openInfoWindow(marker)      
    }
  }
}
</script>

<style scoped>
.map {
  height: 600px;
  width: 100%
}
</style>
