<template>
  <div class="panel">
    <div class="panel-block">
      <b-input
        @input="onSearch"
        icon="magnify"
        placeholder="search"
        size="is-small"
        type="search"
      />
    </div>
    <a
      @click="selectStation(station)"
      class="panel-block"
      :class="{ 'is-active': selected === station }"
      :key="station.id"
      v-for="station in stations"
    >
      <b-icon
        class="panel-icon"
        icon="bike"
        size="is-small">
      </b-icon>
      {{ station.location }}
    </a>
  </div>
</template>

<script>
import Station from '~/models/Station'

export default {
  props: {
    selected: {
      type: Station
    },
    stations: {
      default: () => [],
      type: Array
    }
  },
  methods: {
    onSearch (query) {
      this.$emit('search', query)
    },
    selectStation (station) {
      this.$emit('select', station)
    }
  }
}
</script>

