<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Stacje Wrocławskiego Roweru Miejskiego</h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <StationList
              @search="onSearch"
              @select="onSelect"
              :selected="selected"
              :stations="stations"
            />
          </div>
          <div class="column is-two-thirds">
            <Map
              @click="onMarkerClick"
              :markers="stations"
              :selected="selected"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Map from '~/components/Map'
import StationList from '~/components/StationList'

export default {
  components: {
    Map,
    StationList
  },
  data () {
    return {
      search: '',
      selected: null
    }
  },
  computed: {
    stations () {
      return this.$store.state.stations
        .filter(station => station.location.toLowerCase().includes(this.search))
    }
  },
  methods: {
    onMarkerClick (stationID) {
      this.selected = this.stations.find(station => station.id === stationID)
    },
    onSearch (query) {
      this.search = query
    },
    onSelect (station) {
      this.selected = station
    }
  },
  async mounted () {
    const loadingComponent = this.$loading.open()
    await this.$store.dispatch('fetch')
    loadingComponent.close()
  }
}
</script>
